#subir__arriba{
    width: 70px;
    height: 70px;
    background: rgb(187, 187, 187);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    display: none;
}

html{
    scroll-behavior: smooth;
}
